APP_ENV=production
APP_DEBUG=false
APP_URL=https://school.example.com
VITE_API_URL=https://api.your-domain.com
SOM_API_URL=https://api.your-domain.com
SOM_LICENSE_SERVER_URL=https://license.your-domain.com
SOM_PRO_LICENSE_SERVER_URL=https://license.your-domain.com
